<!DOCTYPE html>

<html>

<head>

<meta charset="UTF-8">
<!--<script src="http://whois.pconline.com.cn/ip.jsp"></script>-->
<!--<script type="text/javascript" src="../static/js/usrRec.js"></script>-->
<script src="../static/js/alert.js"></script>
</head>

<body>
    <h1>TOM</h1>
<!--    <button onclick="getIp()">show ip</button>-->
</body>

</html>



<!--<span id="ipShow"></span><br/>-->

<!--<a href="javascript:alertIp('219.239.227.189');">219.239.227.189</a>-->

<!--<script src="http://pv.sohu.com/cityjson?ie=utf-8"></script>-->
<!--<script src="http://whois.pconline.com.cn/ipJson.jsp?callback=info&json=true"></script>-->
<!--
<script type="text/javascript">
  // function IPCallBack(obj){
  //     document.write(obj.ip + ',' + obj.pro)
  // }
  // document.getElementById("ipShow").innerHTML =ip+' '+pro+' '+city+' '+region;

  // document.getElementById("ipShow").innerHTML = returnCitySN["cip"]+','+returnCitySN["cname"];
</script> -->
